#include "cursors.h"

CURSORS_ALIAS CURSOR "../thirdparty/hackneyed/alias.cur"
CURSORS_CLOSEDHAND CURSOR "../thirdparty/hackneyed/closedhand.cur"
CURSORS_CONTEXT_MENU CURSOR "../thirdparty/hackneyed/context-menu.cur"
CURSORS_COPY CURSOR "../thirdparty/hackneyed/copy.cur"
CURSORS_NO_DROP CURSOR "../thirdparty/hackneyed/no-drop.cur"
CURSORS_OPENHAND CURSOR "../thirdparty/hackneyed/openhand.cur"
CURSORS_PLUS CURSOR "../thirdparty/hackneyed/plus.cur"
CURSORS_SPLIT_H CURSOR "../thirdparty/hackneyed/split_h.cur"
CURSORS_SPLIT_V CURSOR "../thirdparty/hackneyed/split_v.cur"
CURSORS_VERTICAL_TEXT CURSOR "../thirdparty/hackneyed/vertical-text.cur"
CURSORS_ZOOM_IN CURSOR "../thirdparty/hackneyed/zoom-in.cur"
CURSORS_ZOOM_OUT CURSOR "../thirdparty/hackneyed/zoom-out.cur"
